

<div
  class="app-container"
  [style.marginLeft]="navComponent.menuOpen ? '250px' : '60px'"
>
  <app-nav #navComponent></app-nav>

  <div class="tasks-container">
    @if (showErrorAlert) {
        <app-alert [message]="message" color="error"></app-alert>
    }
    @if (showSuccessAlert) {
        <app-alert [message]="message" color="success"></app-alert>
    }
    @if (projectId) {
      <h2>Tareas del Proyecto: {{ projectId }}</h2>
      
      <!-- Botón para crear una nueva tarea -->
      <button (click)="openTaskDialog()" class="create-task-button">Crear Tarea</button>
    }
    <div class="tasks-grid">
      @for (item of tasks; track $index) {
        <app-task
          (deleteTask)="handleTaskDeleted($event)"
          [id]="item.id"
          [title]="item.title"
          [status]="item.completed"
        ></app-task>
      }
    </div>
  </div>
</div>
