@if (showSuccessAlert ) {
  <app-alert [message]="message" color="success"></app-alert>
}

<div class="project-card">
  <div class="project-id">{{ id }}</div>
  <div class="project-title">{{ title }}</div>
  <div class="project-description">{{ description }}</div>
  
  <div class="button-container">
    <button class="view-tasks-btn" (click)="showTasks()">Ver Tareas</button>
    <button class="edit-btn" (click)="openProjectDialog()">Editar</button>
    <button class="delete-btn" (click)="deleteConfirm()">Eliminar</button>
  </div>
</div>
