@if (showErrorAlert) {
  <app-alert [message]="message" color="error"></app-alert>
}
<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="Enter your username"
          required
        />
        @if (loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.touched ||
        loginForm.get('username')?.dirty)) {
        <span>
          <small style="color: red">El nombre de usuario es obligatorio.</small>
        </span>
        }
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          required
        />
        @if (loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.touched ||
        loginForm.get('password')?.dirty)) {
        <span>
          <small style="color: red">La contraseña es obligatoria.</small>
        </span>
        }
      </div>
      <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </div>
</div>
