.projects-container {
  padding: 20px;
  background-color: #f4f6f9; /* Fondo claro para el contenedor */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-container h2 {
  color: #2c3e50; /* Color del título */
  margin-bottom: 20px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 20px; /* Espaciado entre tarjetas */
}


